<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Jarvis - Home</title>
  <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div class="nav-buttons" id="nav-buttons">
  <div class="top-right">
    <a href="https://github.com/AI-ash">
    <div class="light-button">
        <button class="bt">
            <div class="light-holder">
                <div class="dot"></div>
                <div class="light"></div>
            </div>
            <div class="button-holder">
                <p>About Creator</p>
            </div>
        </button>
    </a>
    </div>
  </div>
  <div class="top-left">
    <div class="light-button">
        <a href="https://github.com/Codeunia/Jarvis-FullStack-AI-Virtual-Assistant">
        <button class="bt">
            <div class="light-holder">
                <div class="dot"></div>
                <div class="light"></div>
            </div>
            <div class="button-holder">
                <p>Source Code</p>
            </div>
        </button>
        </a>
    </div>
  </div>
  </div>
  <div class="intro-text">
    <h1 id="typewriter">JARVIS 1.0</h1>
  </div>
    <div class="ai-image">
      <img src="https://i.pinimg.com/originals/8d/1d/48/8d1d484ed41161f87a7c222349d711ae.gif" alt="AI Humanoid" />
    </div>
    <script src="script.js"></script>
</body>
</html>
